@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/ngx-toastr/toastr.css';
@import '../node_modules/bootswatch/dist/minty/bootstrap.min.css';

.social-links li a {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}
