<div *ngIf="showDashboard" class="container">
    <div class="row">
        <div class="col-3" *ngFor="let contact of contacts">
            <app-contact-card (contactDeleted)="deleteContact($event)" [contact]="contact"></app-contact-card>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-zig-zag" [fullScreen]="true">
    <p style="color: white"> Wait please... </p>
</ngx-spinner>

<div *ngIf="pagination && showDashboard" class="d-flex justify-content-center mt-2">
    <pagination [(ngModel)]="pagination.pageNumber" [itemsPerPage]="pagination.pageSize" [boundaryLinks]="true"
        (pageChanged)="pageChanged($event)" [maxSize]="5" [totalItems]="pagination.totalCount"></pagination>

    <div class="ml-4">
        <label class="mr-2" for="pageSize">Number of items per page: </label>
        <div id="pageSize" class="btn-group">
            <label (click)="pageSizeChange()" class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="8"
                role="button">8</label>
            <label (click)="pageSizeChange()" class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="12"
                role="button">12</label>
            <label (click)="pageSizeChange()" class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="20"
                role="button">20</label>
        </div>
    </div>

    <div>
        <div [dropup]="true" class="btn-group ml-5" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                {{orderBy}}<span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" (click)="changeOrderBy('FirstName')">First Name</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="changeOrderBy('LastName')">Last Name</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" (click)="changeOrderBy('Address')">Address</a></li>
            </ul>
        </div>
    </div>

    <div class="ml-2">
        <label class="mr-2" for="sort">Sort: </label>
        <div id="sort" class="btn-group">
            <label (click)="changeSort()" class="btn btn-primary" [(ngModel)]="sort" btnRadio="asc"
                role="button">Asc</label>
            <label (click)="changeSort()" class="btn btn-primary" [(ngModel)]="sort" btnRadio="desc"
                role="button">Desc</label>
        </div>
    </div>
</div>