<div class="card m-b-30 mt-4">
    <div class="card-body row">
        <div class="col-6">
            <a [routerLink]="['/edit', contact.id]"><img src={{contact.imageUrl}} alt=""
                    class="img-fluid rounded-circle w-60"></a>
        </div>
        <div class="col-6 card-title align-self-center mb-0">
            <h5>{{contact.firstName}} {{contact.lastName}}</h5>
            <p class="m-0 text-truncate">{{contact.jobTitle}}</p>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a class="text-truncate"
                href="#">{{contact.email}}</a>
        </li>
        <li class="list-group-item">
            <i class="fa fa-phone float-right"></i>Phone : {{contact.tellNo}}
            <br>
            <i class="fa fa-mobile float-right"></i>Mobile : {{contact.cellNo}}
            <br>
            <i class="fa fa-phone float-right"></i>Work : {{contact.workNo}}
        </li>
    </ul>
    <div class="card-body">
        <div class="float-right btn-group btn-group-sm">
            <a [routerLink]="['/edit', contact.id]" class="btn btn-primary tooltips" data-placement="top"
                data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="openModal(template)" class="btn btn-secondary tooltips" data-placement="top"
                data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
        </div>
        <ul class="social-links list-inline mb-0">
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                    class="tooltips bg-primary" href="" data-original-title="Facebook"><i
                        class="fa fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                    class="tooltips bg-primary" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                    class="tooltips bg-primary" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
            </li>
        </ul>
    </div>
</div>

<ng-template #template>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete <strong>{{contact.firstName}} {{contact.lastName}}</strong>?</p>
        </div>
        <div class="modal-footer">
            <button (click)="confirm()" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
            <button (click)="decline()" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
    </div>
</ng-template>